/*Global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --colorMain: #000050;
    --borderMain: 7px;
    --colorCard: whitesmoke;
}
.link{
    color: white;
    text-decoration: none;
}
.image{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
body{
    background-color: aliceblue;
}
.section:not(.sectionMenu){
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: end;
}
.container:not(.containerMenu){
    width: 90vw;
    height: 100%;
    /* background-color: antiquewhite; */
    padding: 18px;
}
.button{
    width: 70px;
    height: 30px;
    background-color: deepskyblue;
    color: white;
    border: 0;
    border-radius: var(--borderMain);
}
/*Header*/
.sectionMenu{
    width: 10vw;
    height: 100%;
    background-color: var(--colorMain);
    position: fixed;
    display: flex;
    align-items: center;
}
.containerMenu{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.icon{
    width: 100px;
    height: 100px;
}
/*Card*/
.sectionCard{
    /* background-color: antiquewhite; */
    width: 99vw!important;
}
.boxCard{
    display: flex;
    justify-content: center;
}
.containerCard{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1vw;
}
.card{
    width: 90%;
    height: 100px;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: var(--borderMain);
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    box-shadow: 2px -2px 5px 0px grey;
    overflow: hidden;
    position: relative;
}
/* .card:nth-child(6n){
    margin-right: 0px;
}    */
.card:nth-last-child(-n+6){
    margin-bottom: 0px;
}
.buttonCard{

}
.describtion{
    width: 50%;
}
.radio-employee{
    width: 90%;
    height: 100px;
    background-color: deepskyblue;
    border-bottom-right-radius: var(--borderMain);
    border-top-right-radius: var(--borderMain);
    left: -170px;
    top: 130px;
    position: absolute;
    padding: 25px 0px 25px 25px;
    transition: 0.3s;
    overflow-y: scroll;
}
.radio-employee:hover{
    left: 0px;
    transition: 0.3s;
}
.empty{
    width: 100%;
    height: 100px;
}
/*TICKETS*/
.sectionTickets{
    width: 99vw!important;
}
.boxTickets{
    display: flex;
    flex-direction: column;
}
.numberOfCalls{
    width: 15px;
}
.containerTickets{
    height: 340px;
    display: flex;
    margin-left: 8px;
    margin-top: 18px;
    margin-bottom: 20px;
    flex-direction: row;
}
.cardUser{
    width: 200px;
}
.boxTick{
    width: 85%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: none;
    padding: 5px;
}
.boxUser{
    width: 10%;
    margin-right: 5%;
    margin-top: 5px;
}
.cardUser{
    min-width: 200px;
}
.cardTicket{
    min-width: 200px;
    margin-bottom: 0px;
    position: relative;
}
.marker{
    width: 30px;
    height: 30px;
    background-color: var(--colorMain);
    position: absolute;
    top: 0px;
    left: 140px;
}
.wing{
    width: 15px;
    height: 15px;
    background-color: var(--colorMain);
    position: absolute;
    top: 30px;
}
.marker::after{
    content: '';
    width: 30px;
    height: 30px;
    background-color: var(--colorCard);
    position: absolute;
    top: 36px;
    transform: rotate(45deg);
    z-index: 4;
}
.wingLeft{
    left: 0px;
}
.wingRight{
    left: 15px;
}
.boxImage{
    width: 150px;
    height: 150px;
}
.imageCard{
    width: 150px;
    height: 150px;
}
.tickets{
    align-self: self-start;
}
.titleCard{
    color: rgb(0, 0, 122);
}
.line{
    width: 75%;
    height: 5px;
    border-radius: 30px;
    background-color: rgb(216, 216, 216);
    padding: 2px;
    align-self: center;
    box-shadow: 0px 1px 15px;
}
.title{
    font-size: 20px;
}
.description{
    text-align: center;
}
.numberAud{
    z-index: 5;
}
/*AVG*/
.boxAvg{
    display: flex;
    flex-direction: column;
    padding: 18px;
    align-items: center;
}
.containerAvg{
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 18px;  
    justify-content: space-between;
}
.titleAvg{
    align-self: center;
    font-size: 30px;
}
.avgTime{
    font-size: 50px;
}